<?xml version="1.0" encoding="UTF-8" ?>
<se>
        <env>STAGE</env>
        <sebgpd>
                <mainsql>
                    select * from se_edgar_formrecs where is_processed = -1 order by filedate asc limit 1;
                </mainsql>
        </sebgpd>
        <mail>
                        <smtp>
                                <userid>sajiantony15</userid>
                                <password>Run37Dir</password>
                                <server>outgoing.verizon.net</server>
                                <port>587</port>
                        </smtp>
        </mail>
        <threading>
            <pool>
                <numthreads>5</numthreads>
            </pool>
        </threading>
        <databases>
                <main>
                        <host>njprod</host>
                        <userid>smartearn</userid>
                        <password>Run573Can</password>
                        <db>sa</db>
                </main>
                <backup>
                        <host>localhost</host>
                        <userid>root</userid>
                        <password>VforXbrl2013</password>
                        <db>sa</db>
                </backup>
        </databases>
        <key>.</key>
        <functionCaching>
                <Xbrl>
                    <CompanyFinancials>false</CompanyFinancials>
                    <CompanyStatements>false</CompanyStatements>
                </Xbrl>
                <Securities>
                    <get_SecurityDescription>false</get_SecurityDescription>
                    <get_Security>false</get_Security>
                    <get_Company>false</get_Company>
                </Securities>
        </functionCaching>
</se>

