<div id="dvSigonControls">
    <form name="regform" novalidate ng-switch="userInfo.RegStages">
        <div ng-switch-when="0">
            <h2>Welcome</h2>
            <h3>Register as a basic or licensed customer</h3>
            <div>
                <ul>
                    <li>
                        <input 
                            type="radio" 
                            name="regUsertype" 
                            ng-model="userInfo.RegType" 
                            value="standard" 
                            ng-change="initRegStates(userInfo)"
                        >Standard
                        <div>
                            A standard user provides an email address and a password to login to the site.
                            Standard user can view advanced predictions on performance of publicly listed companies
                            registered in the USA based on fundamental performance (such as revenue or profit).
                        </div>
                    </li>
                    <li>
                        <input 
                            type="radio" 
                            name="regUsertype" 
                            ng-model="userInfo.RegType" 
                            value="licensed"
                            ng-change="initRegStates(userInfo)"
                        >Licensed
                        <div>
                            A licensed user is a monthly paid subscriber with the ability utilize all tools
                            available in this website to analyse the performance of all financial instruments such 
                            as mathematically predicting future price. While registering as a licensed user, the user
                            is also simultaneously registering with an exchange market data provider for 
                            daily end of the day market prices. The exchanges are selected in the process by the user.
                            The licensed user will provide an email address and password to login to the site 
                            in addition to full address and a Paypal subscription account. The account can be 
                            closed or switched to a basic account at any time by going to the user's accounts page.
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <div>
                    <input name="regFirstName" type="text" placeholder="first name" ng-model="userInfo.FirstName" title="Enter First Name." required>
                    <span class="errorlabel" ng-show="regform.regFirstName.$invalid">*required.</span>
                </div>
                <div>
                    <input name="regLastName" type="text" placeholder="last name" ng-model="userInfo.LastName" title="Enter Last Name." required>
                    <span class="errorlabel" ng-show="regform.regLastName.$invalid">*required.</span>
                </div>
                <div>
                    <input name="regEmail" type="email" placeholder="email address" ng-model="userInfo.EmailAddress" title="Enter a valid email address." required>
                    <span class="errorlabel" ng-show="regform.regEmail.$invalid">*required.</span>
                </div>
                <div>
                    <input name="regPwd" type="password" placeholder='password' title="Enter a password between 8 and 25 characters" ng-model="userInfo.Password" required>
                    <span class="errorlabel" ng-show="regform.regPwd.$invalid">*required.</span>
                </div>
                <div>
                    <input name="regPwdConfirm" type="password" placeholder='confirm password' title="Confirm new password" ng-model="userInfo.ConfirmPassword" required>
                    <span class="errorlabel" ng-show="regform.regPwdConfirm.$invalid">*required.</span>
                </div>
                    <input name="regRem" type="checkbox" ng-model="RememberMe" value="remember">Remember me
                </div>
                <div ng-if='userInfo.RegType==="licensed"'>
                    <div>
                        <input 
                            name="regStreet1" 
                            type="text" 
                            placeholder="house/apt/street" 
                            ng-model="userInfo.Street1" 
                            title="Enter House or Apartment # and Street Name."
                            required
                        >
                        <span class="errorlabel" ng-show="regform.regStreet1.$invalid">*required.</span>
                    </div>
                    <div>
                        <input 
                            name="regStreet2" 
                            type="text" 
                            placeholder="optional address" 
                            ng-model="userInfo.Street2" 
                            title="Optionally enter additional address line."
                        >
                    </div>
                    <div>
                        <input 
                            name="regTown" 
                            type="text" 
                            placeholder="town or city" ng-model="userInfo.Town" 
                            title="Enter Town or City Name."
                            required
                        >
                        <span class="errorlabel" ng-show="regform.regTown.$invalid">*required.</span>
                    </div>
                    <div>
                        <div><label>Country:</label></div>
                        <select 
                            name="regCountries" 
                            title="Select Country"
                            ng-options="country.key as country.name for country in Countries"
                            ng-model="userInfo.Country"
                            ng-required="userInfo.Country!=0"
                            ng-change="requestStates(userInfo.Country)"
                            >
                        </select>
                        <span class="errorlabel" ng-show="regform.regCountries.$invalid">*required.</span>
                    </div>
                    <div>
                        <div><label>State:</label></div>
                        <select 
                            ng-if="States.length > 1"
                            name="regStates" 
                            title="Select State" 
                            ng-options="state.key as state.name for state in States"
                            ng-model="userInfo.State"
                            ng-required="userInfo.State!=0"
                            >
                        </select>
                        <input 
                            ng-if="States.length <= 1"
                            name="regStates" 
                            type="text" 
                            placeholder="State or Province" ng-model="userInfo.StateProvince" 
                            title="Enter State or Province."
                            required
                        >
                        <span class="errorlabel" ng-show="regform.regStates.$invalid">*required.</span>
                    </div>
                    <div>
                        <input 
                            name="regPostalCode" 
                            type="text" placeholder="postal code" 
                            ng-model="userInfo.PostalCode" 
                            title="Enter Postal Code."
                            required
                        >
                        <span class="errorlabel" ng-show="regform.regPostalCode.$invalid">*required.</span>
                    </div>
                </div>
                <div>
                    <button 
                        ng-disabled="regform.$invalid || userInfo.Password !== userInfo.ConfirmPassword" 
                        id="btnRegSteps" 
                        type="button"
                        ng-click="StepToNextStage(userInfo)"
                    >
                        Register
                    </button>
                </div>
                <div class="errorlabel" >{{ErrorMsg}}</div>
                <div>
                    <hr>
                    <h4>
                    Already registered ? 
                    </h4>
                    Click <a ng-href="#/signon">here</a> to sign in page.
                </div>
            </div>
        <div ng-switch-when="1">
            <h2>Registration</h2>
            <h3>Email Confirmation</h3>
            <div ng-if="ErrorMsg===''">
                <p>
                    An email verification is dispatched to your email address <u>{{ userInfo.EmailAddress }}</u>. 
                    Please click the registration link in the email message to open it in your default internet browser, 
                    or copy that link on a browser address input box to continue with registration.
                </p>
                <p>
                    If the email address is wrong, click <a ng-href="#/register/{{ EsId | filter }}">here</a> to return to 
                    registration page and provide correct email address.
                </p>
            </div>
            <div ng-if="ErrorMsg!==''">
                <p>
                    Registration session has expired. Please click <a ng-href="#/register">here</a> to try to register again.
                </p>
            </div>
        </div>
        <div ng-switch-when="2" >
            <div ng-if="userInfo.RegType==='standard'">
                <h2>Registration</h2>
                <h3>Register as a basic customer</h3>
                <div>
                    <p>
                        Your email address <u>{{ userInfo.EmailAddress }}</u> is confirmed. You have successfully registered as a basic user. 
                    </p>
                    <p>
                        Please click <a ng-href="#/signon">here</a> to sign in.
                    </p>
                </div>
            </div>
            <div ng-if="userInfo.RegType==='licensed'">
                <h2>Registration</h2>
                <h3>Register as a licensed customer</h3>
                <div>
                    <p>
                        Your email address {{ userInfo.EmailAddress }} is confirmed. 
                    </p>
                    <p>
                        To become a licensed user, please choose one more more packages.
                        Large portion from the subscription fees are paid as a license fee 
                        on your behalf to the exchanges from where data is obtained.
                        The final amount that you will pay monthly to us as a licensee 
                        is given as a total at the end of the table below.
                    </p>
                    <table id="regFeeTable">
                        <caption><b>Select Exchange Packages</b></caption>
                        <thead>
                        <tr>
                            <td title="Select exchange packages.">
                                <input type="checkbox" name="regExchange" title="Select All">
                            </td>
                            <td title="Name of the package">Exchange Package</td>
                            <td title="Subscripton Fee.">Subscription Fee</td>
                        </tr>
                        </thead>
                        <tbody ng-repeat="package in Packages">
                            <tr>
                                <td>
                                    <input type="checkbox" ng-model="package.isselected">
                                </td>
                                <td style="width: 250px">{{ package.name }}</td>
                                <td style="text-align: right" >{{ package.fee }}</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="2">Total: </td>
                            <td style="text-align: right">{{ FeeTotal() }} </td>
                        </tr>
                    </table>
                    <p>
                        After making selections above, please click below to provide the payment information. 
                        At the moment only Paypal payment gateway is supported.
                    </p>
                    <p>
                        Your subscription will begin immediately after completion of registration steps. 
                        You may cancel your service any time. The subscription payment already made is
                        not refundable. Therefore, after cancellation, you can continue using our service 
                        until the end of the billing cycle.
                    </p>
                    <div>
                        <figure>
                            <img id="btnRegSteps" src="/images/paypal_btn_subscribeCC_LG.gif" title="Paypal subscription">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div  ng-switch-when="3">
            <div ng-if="userInfo.RegType==='licensed'">
                <span>Payment</span>
            </div>
        </div>
        <div  ng-switch-when="4">
            <div ng-if="userInfo.RegType==='licensed'">
                <span>Licensed Registration Completed</span>
            </div>
        </div>
    </form>
</div>
